<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>The Plum Tree - Forgot Your Username</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
      @media only screen and (min-width: 600px) {
        img[class="main-logo"] {
          width: 60px !important;
          height: 60px !important;
        }

        table[class="content-table"] {
          width: 600px !important;
        }

        table[class="share-table"] {
          width: 48% !important;
          margin: 0 2% 0 0;
          float: left;
        }

        table[class="gift-table"] {
          width: 48% !important;
          margin: 0 0 0 2%;
          float: left;
        }

        .main-logo {
          width: 180px !important;
          height: 180px !important;
        }

        .content-table {
          width: 600px !important;
        }

        .share-table {
          width: 48% !important;
          margin: 0 2% 0 0;
          float: left;
        }

        .gift-table {
          width: 48% !important;
          margin: 0 0 0 2%;
          float: left;
        }
      }
    </style>
  </head>

  <body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 20px 0 30px 0;">
          <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
            <tr>
              <td align="center" bgcolor="#6F1E51" style="padding: 10px 10px 8px 5px; border-radius: 10px;">
                <img class="main-logo" src="http://plum-tree-misc.s3-website-eu-west-1.amazonaws.com/logo.png" alt="Wish Whale Logo" width="60px" height="60px" style="display: block;" />
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                      Hi
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                      Looks like you requested a reminder of what your username is. The following username(s) are linked to this email address.
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                      <ul>
                        {{#each usernames}}
                          <li>{{this}}</li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 20px 0 30px 0; color: #646e72; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px;">
                      Note usernames are case sensitive.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#f4f7f6" style="padding: 30px 30px 30px 30px; border-radius: 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75%" style="font-family: Arial, sans-serif; font-size: 14px;">
                      <a href="https://www.theplumtreeapp.com" style="font-size: 15px; color: #999999;">The Plum Tree App</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
